
<nav class="{{ include.location }}-nav">
    <ul>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for page in sorted_pages %}

        
        {% if page.url != '/feed.xml' and page.url != '/' %}
        <li>
            <a href="{{ site.baseurl }}{{ page.url }}">
                <span class="title">{{ page.title }}</span>
                <span class="date">{{ page.date | date_to_string }}</span>

            </a>


        {% endif %}
        {% endfor %}
    </ul>
</nav>

