body{
    background: #FFF;
    padding: 2rem;
    margin: 0;
    font-size: 40px;

}

.gallety{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-auto-flow: dense;

    grid-gap: 1rem;

}

.item{
    background: #CCC;
    overflow: hidden;

}

.item img{
    width: 100%;
    height: auto;
    display: block;
}