.main-nav{

  border: solid var(--color-basic-border);
   border-width: 1px;
}
.main-nav ul{
    padding: 0;
    margin: 0;

}
.main-nav > ul{
    display: flex;
}
.main-nav > ul ul{
    display: block;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    

}


.main-nav li{
    display: block;
    list-style: none;
    position: relative;
}
.main-nav a {
    display:block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: var(--color-main-link);
}

.main-nav > ul ul{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1.5rem);
    transition: opacity 0.2s ease-in transform 0.2s ease-out;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 0.6rem 0.15rem rgba(209, 204, 204, 0.5);

}
.main-nav li:hover > ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0)
    
}
/*.main-nav > ul li:last-child(a){
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius:0.5em;

}*/
