.main-nav{

  border: solid var(--color-basic-border);
   border-width: 1px;
}
.main-nav ul{
    padding: 0;
    margin: 0;

}
.main-nav > ul{
    display: flex;
}
.main-nav > ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    
}


.main-nav li{
    display: block;
    list-style: none;
    position: relative;
}
.main-nav a {
    display:block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: var(--color-main-link);
}

.main-nav li:hover > ul{
    display: block;
}