@import url("typography.css");
@import url("navigation.css");
@import url("gallery.css");
@import url("site-header.css");
@import url("site-footer.css");


:root{

    --color-main-brgd: rgb(235, 225, 92);
    --color-main-text: rgb(27, 27, 13);
    --color-main-link: rgb(204, 77, 39);
    --color-basic-border: #CCC;



}
@import url("typography.css");
@import url("navigation.css");
@import url("site-header.css");


body{
    background: rgb(240, 208, 106);
}