<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body class="{{ page.body_class }} {{ page.title | slugify }}">


    <header class="site-header banner {% if page.url == '/' %} size-large {% else %} size-small {% endif %}">
      
      
      <div class="inner">
        <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
        {% include navigation.html location="header" %}
        

      </div>
    </header>
        
    <main class="site-content">

      {{ content }}
      
    </main>

    <footer class="site-footer">



      {% include navigation.html location="footer" %}

    </footer>

  </body>
</html>