<!DOCTYPE html>
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
</head>

<body class="{{ page.body_class }} {{ page.title | slugify }}">
  <header class="site-header">

    <h1><a href="/"> {{ site-title }}</a></h1>
    {% include navigation.html %}

  </header>


  <main class="site-content">
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>&copy:Hyde by Anna</p>

    {% include navigation.html %}
  </footer>
</body>
</html>
